DEFINED_VALUE {
    /* -------------------Color 主要配色--------------------------------------*/

    /*--------------------brand color 主题色----------------------------------*/
    --color-primary: #409EFF;                                       /* 主题色*/
    --color-primary-sub-1: #d9ecff;                                 /* 主题色*/

    /*--------------------functional color 功能色-----------------------------*/
    --color-success: #67C23A;                                       /* 成功颜色*/
    --color-success-sub: #d9ecff;                                   /* 成功颜色*/
    --color-warning: #E6A23C;                                       /* 告警颜色*/
    --color-danger: #F56C6C;                                        /* 危险颜色*/
    --color-info: #909399;                                          /* 信息颜色*/

    /*--------------------font color 字体色-----------------------------------*/
    --color-text-white: #ffffff;                                /* 白色 */
    --color-text-primary: #303133;                              /* 主要文本颜色*/
    --color-text-regular: #606266;                              /* 常规文本颜色*/
    --color-text-secondary: #909399;                            /* 次要文本颜色*/
    --color-text-placeholder: #C0C4CC;                          /* 占位文本颜色*/

    /*--------------------Border Color 边框颜色-------------------------------*/
    --border-color-base: #DCDFE6;                               /* 一级边框颜色*/
    --border-color-light: #E4E7ED;                              /* 二级边框颜色*/
    --border-color-lighter: #EBEEF5;                            /* 三级边框颜色*/
    --border-color-extra-light: #F2F6FC;                        /* 四级边框颜色*/

    /*--------------------Background Color 背景颜色---------------------------*/
    --color-white: #ffffff;                                     /* 基础白色   */
    --color-black: #000000;                                     /* 基础黑色   */
    --background-color-base: #F5F7FA;                           /* 基础背景色 */

    /*--------------------Font 字体------------------------------------------*/
    --font-size: 14px;
    --title-font-size: 18px;                                    /* 标题文字大小*/
    --description-font-size: 14px;                              /* 描述文字大小*/

    /*--------------------Default 默认---------------------------------------*/
    --disabled-font-color: var(--color-text-placeholder);       /* 禁用文本颜色*/
    --default-font-color: var(--color-text-regular);            /* 默认文本颜色*/
    --disabled-border-color: var(--border-color-lighter);       /* 禁用边框色 */
    --default-border-color: var(--border-color-base);           /* 默认边框色 */
    --default-background-color: var(--color-white);             /* 默认背景色 */
    --disabled-background-color: var(--background-color-base);  /* 禁用背景色 */

    /*--------------------Button---------------------------------------------*/
    --button-primary-font-color: var(--color-text-regular);              /* 主要文本颜色*/
    --button-primary-font-size: var(--font-size);
    --button-primary-border-color: var(--color-primary);               /* 主要边框色 */
    --button-primary-background-color: var(--color-primary);           /* 主要背景色 */
    --button-success-font-color: var(--color-text-white);              /* 成功文本颜色*/
    --button-success-border-color: var(--color-success);               /* 成功边框色 */
    --button-success-background-color: var(--color-success);           /* 成功背景色 */
    --button-warning-font-color: var(--color-text-white);              /* 告警文本颜色*/
    --button-warning-border-color: var(--color-warning);               /* 告警边框色 */
    --button-warning-background-color: var(--color-warning);           /* 告警背景色 */
    --button-danger-font-color: var(--color-text-white);               /* 危险文本颜色*/
    --button-danger-border-color: var(--color-danger);                 /* 危险边框色 */
    --button-danger-background-color: var(--color-danger);             /* 危险背景色 */
    --button-info-font-color: var(--color-text-white);                 /* 信息文本颜色*/
    --button-info-border-color: var(--color-info);                     /* 信息边框色 */
    --button-info-background-color: var(--color-info);                 /* 信息背景色 */
    --button-btn-font-size: 12px;


}


QPushButton{
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: hand;
    background: var(--button-primary-background-color);
    border: 1px solid var(--color-primary);
    color: var(--button-primary-font-color);
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 12px 20px;
    font-size: var(--button-primary-font-size);
    border-radius: 4px;
    /*qproperty-enabled: false;*/
    qproperty-qcursor: 14;
}
#main_window{background: transparent;}
#index_btn_body, #example_index_activity, #index_body, #index_text_body, #index_text_show{background: #f1ffff;}
QWidget, QFrame{background-color: var(--color-white);}
#bar{height: 50px;}
/*#btn_bar_app_name, #app_name, #btn_bar_title{background: transparent;border: none}*/
/*#btn_bar_normal, #btn_bar_close, #btn_bar_min, #btn_bar_app_logo{border: none;margin: 3px;width: 25px;height: 25px;background: transparent;}*/
/*#btn_bar_normal:hover, #btn_bar_min:hover{background: var(--basic-color-a);}*/
/*#btn_bar_normal:pressed, #btn_bar_min:pressed{background: var(--basic-color-a3);}*/
/*#btn_bar_close:hover{background: var(--accent-color-danger);}*/
/*#btn_bar_close:pressed{background: var(--accent-color-danger-a);}*/
/*#app_logo{width: 25px;height: 25px;border: none;background: transparent;}*/
/*#btn_dialog_yes, #btn_dialog_no{width: 50px;height: 27px;}*/
#btn_bar_normal:before{content: '\f06b'}
